	<section class="w-full min-h-screen gap-16 md:gap-32 p-8 md:p-16 flex flex-col items-center justify-center bg-[#3854CA]">

		<div data-aos="fade-in" data-aos-once="true">
			<h3 class="text-4xl font-bold text-white text-center mb-8 poppins-semibold">Sponsored By</h3>
			<div class="max-w-[1000px] w-full grid grid-cols-2 md:grid-cols-4 gap-8 items-center">
				{% for image in sponsorSection.images %}
					<img class="w-full h-24 object-contain" src="{{ image.getUrl() }}" alt="{{ image.title|default('Sponsor logo') }}" data-aos="fade-in" data-aos-delay="{{ loop.index * 200 }}" data-aos-once="true"/>
				{% endfor %}
			</div>
		</div>


		<div class="w-full max-w-[1000px] flex flex-wrap md:flex-nowrap items-center justify-center gap-8" data-aos="fade-in" data-aos-once="true">
			<div class="w-full md:w-1/2 flex flex-col gap-4">
				<div class="gap-4 flex flex-col">

					<h5 class="text-4xl font-semibold text-white poppins-semibold">Find Us:</h5>
					<p class="text-lg font-semibold text-white open-sans-regular">{{ contactNumber.contactNumber }}</p>
					<p class="text-lg font-semibold text-white open-sans-regular">{{ contactEmail.contactEmail }}</p>
					<p class="text-lg text-white open-sans-regular">{{ address.address.one().title }},<br>
						<br>{{ address.address.one().addressLine1 }},<br>
						{{ address.address.one().addressLine2 }},<br>
						{{ address.address.one().locality }},<br>
						{{ address.address.one().postalCode }}</p>
					<div
						class="flex gap-8 mt-4">
						{% for link in socialLinks.socialContent.all() %}
							{% set socialLink = link.socialLink %}
							{% set socialIcon = link.socialIcon.one() %}

							{% if socialLink and socialIcon %}
								<a href="{{ socialLink }}" target="_blank">
									<img class="w-[50px]" src="{{ socialIcon.url }}" alt="{{ link.title|default('Social icon') }}"/>
								</a>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="w-full md:w-1/2">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2304.15935709846!2d-6.229829672708761!3d54.724411722720895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4861acbaa77ca205%3A0xc7ffb9b156ce1765!2sThe%20Bridge%20Association%20Ltd%20Bridge%20Training%20Unit!5e0!3m2!1sen!2suk!4v1757621153540!5m2!1sen!2suk" class="w-full rounded" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
	</section>