{# templates/_components/sections/hug_a_mug_intro_section.twig #}
{#
    Variables:
    - cafe_logo_src: Path to the Hug A Mug logo image.
    - cafe_logo_alt: Alt text for the Hug A Mug logo.
    - text_content: The main paragraph description of the cafe.
    - intro_image_src: Path to the secondary image (e.g., Quirky Emporium image).
    - intro_image_alt: Alt text for the secondary image.
    - aos_delay_text_block: AOS delay for the text/logo block.
    - aos_delay_image_block: AOS delay for the secondary image block.
#}
<div class="w-full max-w-[1600px] flex flex-col md:flex-row mx-auto">
    <div class="sm:w-full md:w-1/2 gap-4 px-8 md:px-16 py-8 flex flex-col justify-center" data-aos="fade-right" data-aos-delay="{{ aos_delay_text_block }}" data-aos-once="true">
        <img src="{{ cafe_logo_src }}" class="w-full max-w-[300px] max-h-[450px] object-fill mx-auto " alt="{{ cafe_logo_alt }}" width="80">
        <p class="max-w-[650px] open-sans-regular">{{ text_content }}</p>
    </div>
    <div class="sm:w-full md:w-1/2 gap-4 flex flex-col rounded items-end" data-aos="slide-left" data-aos-delay="{{ aos_delay_image_block }}" data-aos-once="true">
        <img src="{{ intro_image_src }}" class="w-full max-w-[650px] max-h-[450px] rounded-l-full" alt="{{ intro_image_alt }}" width="80">
    </div>
</div>