{% set image_on_left = (layout == 'img_left_text_right') %}
{% set title_class = title_class is defined ? title_class : '' %}
{% set paragraph_class = paragraph_class is defined ? paragraph_class : '' %}

<div class="justify-center items-center w-full max-w-[1600px] flex {{ image_on_left ? 'flex-col' : 'flex-col-reverse' }} md:flex-row items-center justify-center {{ extra_class is defined ? extra_class : '' }}">
    {% if image_on_left %}
        {# Image on Left, Text on Right #}
        {% include '_components/ui/rounded-image.twig' with { url: image_src, alt: 'Logo', class: 'w-auto min-w-[50% p-4 md:p-8' } %}
        <div class="gap-4 md:gap-8 flex flex-col justify-center max-w-[650px] min-w-[50% p-4 md:p-8" data-aos="fade-in" data-aos-delay="{{ text_aos_delay }}" data-aos-once="true" data-aos-duration="1000">
            {% include '_components/typography/section-title.twig' with { title: title, class: title_class } %}
            
            {# Subtext is now optional #}
            {% if subtext is defined and subtext is not empty %}
                <h5 class="text-white text-xl font-medium mb-4 open-sans-regular">{{ subtext }}</h5>
            {% endif %}
            
            <p class="open-sans-regular {{ paragraph_class }}">{{ text }}</p>
        </div>
    {% else %}
        {# Image on Right, Text on Left #}
        <div class="gap-4 md:gap-8 flex flex-col justify-center max-w-[650px] min-w-[50% p-4 md:p-8" data-aos="fade-in" data-aos-delay="{{ text_aos_delay }}" data-aos-once="true" data-aos-duration="1000">
            {% include '_components/typography/section-title.twig' with { title: title, class: title_class } %}
            
            {# Subtext is now optional #}
            {% if subtext is defined and subtext is not empty %}
                <h5 class="text-white text-xl font-medium mb-4 open-sans-regular">{{ subtext }}</h5>
            {% endif %}
            
            <p class="open-sans-regular {{ paragraph_class }}">{{ text }}</p>
        </div>
        {% include '_components/ui/rounded-image.twig' with { url: image_src, alt: 'Logo', class: 'w-auto min-w-[50% p-4 md:p-8' } %}
    {% endif %}
</div>